<a id="doge-settings" class="top-btn" href="" data-toggle="modal" data-target="#settingsModal"><i class="fa fa-cog"></i></a>
<a  id="facebook-login" class="top-btn" href="/auth/facebook"><i class="fa fa-facebook-square pull-right"></i></a>
<div id="notes-wrapper">
    <div class="notes-container">
    </div>
</div>

<!--<audio controls ng-click="start()">
    <source ng-src="{{audioSrc}}" type="audio/wav">
</audio>-->

<div id="record-controls">
    <div id="beats-wrapper">
        <div class="beat"></div>
        <div class="beat"></div>
        <div class="beat"></div>
        <div class="beat"></div>
    </div>

    <div id="play" ng-show="!isPlaying" ng-click="play()">Play</div>
    <div id="stop" ng-show="isPlaying" ng-click="stop()">Stop</div>
    <div id="record" ng-click="startRecording()">Record</div>
    <div id="cancel"><i class="fa fa-times"></i></div>
</div>
