@import "font-awesome/css/font-awesome.min.css";
.transition {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
body {
  background: #3b3b3b;
}
.content {
  margin-top: 70px;
  width: 100%;
}
/*----------buttons---------*/
#play {
  padding: 20px;
  background-color: #2ecc71;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#play:hover {
  opacity: 0.7;
  cursor: pointer;
}
#record {
  padding: 20px;
  background-color: #e74c3c;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#record:hover {
  opacity: 0.7;
  cursor: pointer;
}
#cancel {
  display: none;
  height: 80px;
  width: 80px;
  padding: 20px;
  background-color: white;
  color: #e74c3c;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 100px;
  font-size: 40px;
  line-height: 40px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
#cancel:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*----------beats---------*/
#beats-wrapper {
  width: 172px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.beat {
  background-color: #cccccc;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 10px;
  margin-bottom: 30px;
}
.beat.on {
  background-color: #e74c3c;
}
/*---------------menu------------*/
.top-btn {
  font-size: 30px;
  color: #cccccc;
}
.top-btn:hover {
  color: #ffffff;
}
#doge-settings {
  position: fixed;
  top: 20px;
  left: 20px;
}
#facebook-login {
  position: fixed;
  top: 20px;
  right: 20px;
}
#settingsModal .modal-content {
  background-color: #222222;
  color: #cccccc;
}
#settingsModal .modal-content .btn-primary {
  background-color: #2ecc71;
  border-color: #28ae61;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
