.transition {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
body {
  background: #3b3b3b;
}
.content {
  margin-top: 70px;
  width: 100%;
}
.play {
  padding: 20px;
  background-color: #2ecc71;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.play:hover {
  opacity: 0.7;
  cursor: pointer;
}
